*,::before,::after{
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: monospace;
}

body{
	overflow-x:hidden;
}

.month{
	color:rgb(241, 116, 0);
}


#wrapper{
    display:flex;
    max-width:800px;
    min-height:40vh;
    width:100%;
    box-shadow:0 0 1px black;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	z-index:2;
}

.month_str{
	font-size:25px;
	text-transform:uppercase;
	font-weight:bolder;
}

.app_name{
	display:flex;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	font-size:300px;
	z-index:-1;
	color:whitesmoke;
}



.text_date_container{
    width:350px;
    padding:20px;
    min-height:405px;
    background-color:rgb(241, 116, 0);
    color:white;
}

.icons_container{
    display:flex;
    justify-content:space-between;
}

.date_day_container{
    display:flex;
    flex-direction:column;
   align-items:center;
   margin-top:18px;
}

.date{
    font-size:9rem;
}

.day{
    font-size:1.6rem;
    text-transform:uppercase;
}

.events_container{
    margin-top:30px;
    margin-bottom:30px;
}

ul li{
    list-style:none;
    padding:8px;
}

.calender_container{
    width:450px;
    min-height:405px;
    padding:30px 45px;
}

.year_calender{
    display:flex;
    justify-content:flex-end;
}

.year_calender h1{
    margin-top:-4px;
    margin-left:5px;
}

.month_container{
    display:flex;
    justify-content:center;
    margin-top:20px;
    margin-bottom:20px;
}

.month_container span{
    cursor:pointer;
    display:block;

}

.month_container h2{
    margin-right:15px;
    margin-left:15px;
    text-transform:uppercase;
}

.table_container{
    text-align:center;
    margin-top:10px;
	
}

table{
    width:100%;
	transition:0.3s;
}

th{
    text-transform:uppercase;
}

td{
   padding:15px;
	
}

.active{
    background-color:rgb(241, 116, 0);
    color:white;
}

.blur{
    color:lightgrey;
}

.fade{
	opacity:0;
	transition:.2s;
}

@media screen and (min-width:768px) and (max-width:1024px){

	.app_name {
    display: block;
    top: 50%;
    font-size: 140px;
    text-align: center;
	width:100%;
}	
	
}



@media screen and (max-width:618px){
    #wrapper{
        flex-direction: column;
        box-shadow: 0 0 0 0;
    }

    .text_date_container{
        width:100%;
		display:flex;
		flex-direction:column;
		justify-content:center;
		
    }
	
	.date_day_container{
		margin-top:200px;
	}
	
	.app_name{
		display:none;
	}
	
	
    .calender_container{
        width:100%;
		padding: 30px 25px;
    }
	
	td{
		padding:8px;
	}
}

@media screen and (max-width:280px){
	
	td {
		padding: 5.5px;
	}
	
}






